extends ../_template


block variables
	- var title = 'Hero'


block content
	section.l-section.l-hero
		.l-hero__bg
			//img.hero__bg-img(src="assets/img/water.jpg" alt="")
		.l-hero__container
			img.c-hero__title-pic(src="assets/img/portfolio_header.png" alt="")
			.c-user
				img.c-user__pic(src="assets/img/fashmark-men-trends-nature.png" alt="")
				.c-user__name Владимир Астахов
				.c-user__occ Личный сайт веб разработчика
		ul.c-socials.c-socials-header
			- var icons = ['vk', 'github', 'in']
			each icon in icons
				li.c-socials__item
					a.c-socials__link(href="#")
						svg.c-socials__icon
							use(xlink:href=`assets/img/sprite.svg#${icon}`)
		.c-menu-burger
			include ../common/menu
		a.c-arrow(href="#")
			svg.c-arrow__icon
				use(xlink:href=`assets/img/sprite.svg#arrow_down`)
	section.l-section.l-about
		.l-about__col.l-about__col_left
			svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-about__triangle
				polygon(points="0,0 0,110 1000,110")
			.l-about__col_left-wrap
				.c-section-title(style="background-image: url('assets/img/about_header.png')") ОБО МНЕ
				.c-about
					img.c-about__pic(src="assets/img/fashmark-men-trends.png" alt="")
					.c-block-title
						.c-block-title__wrap КТО
					.c-block-text
						p Я веб разработчик из Новосибирска. Мне 27 лет.. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.l-about__col.l-about__col_right
			svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-about__triangle
				polygon(points="0,110 1000,110 1000,0")
			.l-about__col_right-wrap
				.l-skills
					.c-block-title
						.c-block-title__wrap Чем я могу быть<br /> вам полезен
					.l-skills__text
						p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
					ul.c-skills-group
						each skill in skills
							li.c-skills-group__item
								.c-skills-group__title=skill.title
								ul.l-skills-list
									each item in skill.items
										li.l-skills-list__item
											.c-skill
												svg.c-skills__circle
													circle(cx="55" cy="55" r="45").c-skills__circle-under
													circle(cx="55" cy="55" r="45" transform="rotate(-90 55 55)").c-skills__circle-above
												.c-skill__title=item.name
	section.l-section.l-map
		.c-contact-popup
			.c-block-title
				.c-block-title__wrap Контакты
			ul.c-contact-popup__list
				each item in contact
					li.c-contact-popup__item
						.c-contact-popup__wrap
							.c-contact-popup__col
								svg.c-contact-popup__icon
									use(xlink:href=`assets/img/sprite.svg#${item.icon}`)
							.c-contact-popup__col
								a.c-contact-popup__link(href="#")=item.text


