extends ../_template


block variables
	- var title = 'Works'

block content
	include ../common/preloader
	section.l-section.l-hero
		.l-hero__bg
			//img.hero__bg-img(src="assets/img/water.jpg" alt="")
		.l-hero__container
			img.c-hero__title-pic(src="assets/img/portfolio_header.png" alt="")
			.c-user
				img.c-user__pic(src="assets/img/fashmark-men-trends-nature.png" alt="")
				.c-user__name Владимир Астахов
				.c-user__occ Личный сайт веб разработчика
		ul.c-socials.c-socials-header
			- var icons = ['vk', 'github', 'in']
			each icon in icons
				li.c-socials__item
					a.c-socials__link(href="#")
						svg.c-socials__icon
							use(xlink:href=`assets/img/sprite.svg#${icon}`)
		.c-menu-burger
			include ../common/menu
	section.l-section.l-work
		.l-work__col.l-work__col_left
			svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-work__triangle
				polygon(points="0,0 0,110 1000,110")
		.l-work__col.l-work__col_right
			svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-work__triangle
				polygon(points="0,110 1000,110 1000,0")
		.l-work__row_title
			.c-section-title(style="background-image: url('assets/img/works_header.png')") МОИ РАБОТЫ
	section.section.works
		.works__content
			.works__left
				.works-slider__content
					.works-slider__content-wrapper
						.works-slider__display
							img.works-slider__display-pic(src='', alt='')
						.works-slider__item-about
							.works__subtitle
								.subtitle
							.works__content-desc
							.works__content-btn
								a.works__content-view(href='#')
									svg.c-btn__icon
										use(xlink:href=`assets/img/sprite.svg#link`)
									span.works__content-view-text Посмотреть сайт
			.works__right
				.works-slider
					.works-slider__controls
						a.works-slider__control-btn.works-slider__control-btn_left(href='#')
							svg.c-works-img__item-icon
								use(xlink:href=`assets/img/sprite.svg#portf_arrow_down`)
							ul.works-slider__control-list
								li.works-slider__control-item(data-full='assets/img/work-1.png', data-title='Агентсво интернет решений "ITLoft"', data-skills='node', data-link='http://itloft.ru/')
									img.works-slider___control-img(src='assets/img/work-1.png')
								li.works-slider__control-item(data-full='assets/img/work-2.png', data-title='Школа онлай-образования "LoftSchool"', data-skills='html5, CSS3, javascript, php', data-link='http://loftschool.com/')
									img.works-slider___control-img(src='assets/img/work-2.png')
								li.works-slider__control-item(data-full='assets/img/work-3.png', data-title='Портал обучающих уроков "LoftBlog"', data-skills='Ruby on Rails, javascript, RESTful', data-link='http://loftblog.ru/')
									img.works-slider___control-img(src='assets/img/work-3.png')
						a.works-slider__control-btn.works-slider__control-btn_right(href='#')
							svg.c-works-img__item-icon
								use(xlink:href=`assets/img/sprite.svg#portf_arrow_up`)
	//section.l-section.l-work
		.l-work__col.l-work__col_left
			svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-work__triangle
				polygon(points="0,0 0,110 1000,110")
		.l-work__col.l-work__col_right
			svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-work__triangle
				polygon(points="0,110 1000,110 1000,0")
		.l-work__row_title
			.c-section-title(style="background-image: url('assets/img/works_header.png')") МОИ РАБОТЫ
		.l-work-jobs
			.l-work-jobs__col
				.l-work-jobs-elem
					.l-work-jobs-elem__block
						.c-block-title
							.c-block-title__wrap Сайт школы онлайн Образования
						.l-work-jobs__tags HTML , CSS, JAVASCRIPT
						a.c-btn.c-btn__green(href="#")
							svg.c-btn__icon
								use(xlink:href=`assets/img/sprite.svg#link`)
							| Посмотреть сайт
			.l-work-jobs__col
				.c-works-img
					.c-works-img__wrapPic
						img.c-works-img__pic(src="assets/img/work-1.png" alt="")
			.l-work-jobs__col
			.l-work-jobs__col
				.c-works-img__items
					.c-works-img__item.c-works-img__item-first
						.c-works-img__item-imgHide
							img.c-works-img__item-imgHide-pic(src=`assets/img/work-1.png` alt="")
						each item in [1,2,3]
							if(item == 1)
								.c-works-img__item-wrapPic.active
									img.c-works-img__item-pic(src=`assets/img/work-${item}.png` alt="")
							else
								.c-works-img__item-wrapPic
									img.c-works-img__item-pic(src=`assets/img/work-${item}.png` alt="")
						.c-works-img__item-wrapIcon
							a.slider__click-top(href="#")
								svg.c-works-img__item-icon
									use(xlink:href=`assets/img/sprite.svg#portf_arrow_up`)
					.c-works-img__item.c-works-img__item-last
						.c-works-img__item-imgHide
							img.c-works-img__item-imgHide-pic(src=`assets/img/work-1.png` alt="")
						each item in [1,2,3]
							if(item == 1)
								.c-works-img__item-wrapPic.active
									img.c-works-img__item-pic(src=`assets/img/work-${item}.png` alt="")
							else
								.c-works-img__item-wrapPic
									img.c-works-img__item-pic(src=`assets/img/work-${item}.png` alt="")
						.c-works-img__item-wrapIcon
							a.slider__click-down(href="#")
								svg.c-works-img__item-icon
									use(xlink:href=`assets/img/sprite.svg#portf_arrow_down`)
	section.l-section.l-comments
		.l-comments__title
			.c-section-title(style="background-image: url('assets/img/about_header.png')") Что обо мне<br />говорят
		.c-comments
			each item in comment
				.c-comments__item
					.c-comments__item-pic
						img.c-comments__item-picImg(src=`assets/img/${item.img}` alt="")
					.c-comments__item-text=item.text
					.c-comments__item-name=item.name
					.c-comments__item-post=item.post
	section.l-section.l-feedback
		.c-feedback
			.c-feedback__blur
			form.c-feedback__form(action="")
				.c-block-title
					.c-block-title__wrap Связаться со мной
				label(for="name-field").c-feedback__group
					input.c-feedback__text(type="text" placeholder="Имя" name="name" id="name-field")
				label(for="email-field").c-feedback__group
					input.c-feedback__text(type="email" placeholder="Email" name="email" id="email-field")
				label(for="msg-field").c-feedback__group
					textarea.c-feedback__text.c-feedback__textarea(placeholder="Ваше сообщение" name="msg" id="msg-field")
				.c-feedback__group.c-feedback__group-btn
					.c-feedback__group-btnRow
						input.c-btn-form(type="submit" value="Отправить")
					.c-feedback__group-btnRow
						input.c-btn-form(type="reset" value="Очистить")


